* {
  margin: 0;
}

img{
  width: 100vw;
}

body{
  font-family: 'Rubik', sans-serif;
}

.App{
  background-image: url("../public/treeBackgroundCompressed.png");
  min-height: calc(100vh - 8rem);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

h1 {
  color: #2bca78;
  padding-top: 1.5rem;
  text-align: center;
}

.formDiv {
  min-height: 10rem;
  min-height: 100px;
  box-shadow: 0px 0px 3px #8f8f8f;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-bottom: 3rem;
  background-color: white;
  width: 75rem;
  margin: auto;
  transition: height 200ms, width 200ms;
}

.label {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 3rem;
}

input {
  height: 2rem;
  border-radius: 0.5rem;
  border-width: 0px;
  box-shadow: 0px 0px 3px #8f8f8f;
  margin-top: 1rem;
  width: 15rem;
  margin-left: 3rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  -webkit-appearance: none;
}

select {
  height: 2rem;
  border-radius: 0.5rem;
  border-width: 0px;
  box-shadow: 0px 0px 3px #8f8f8f;
  margin-top: 1rem;
  width: 15rem;
  margin-left: 3rem;
  font-size: 1.25rem;
  padding-left: 1rem;
  text-align: center;
}

.submit {
  margin-left: 15rem;
  margin-top: 3rem;
  width: calc(100% - 30rem);
  background-color: #2bca78;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.collegeTreeInfo {
  margin-top: 3rem;
  font-size: 1.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

a { 
  color: #2bca78;
  font-weight: 600;
  transition: color 500ms;
}



.highSchool-enter {
  height: 0;
  opacity: 0;
  margin-top: -3rem;
}

.highSchool-enter-active {
  height: auto;
  opacity: 1;
  transition: opacity 500ms;
  transition-delay: 500ms;
}


.highSchool-exit {
  opacity: 1;
  height: auto;
}

.highSchool-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 200ms;
  margin-top: -3rem;
}

.college-enter {
  height: 0;
  opacity: 0;
}

.college-enter-active {
  height: 0;
  opacity: 1;
  transition: opacity 500ms, height 1000s;
  transition-delay: 500ms;
}


.college-exit {
  opacity: 1;
  height: auto;
}

.college-exit-active {
  opacity: 0;
  height: 0;
  transition: opacity 500ms;
}

.resultGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 60rem;
  margin: auto;
  margin-top: 2rem;
}

.resultGrid img {
  height: 15rem;
  width: auto;
}

#electricity {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#total {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#gas {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.resultDescription {
  color: #000000;
  font-size: 1.5rem;
  width: 17rem;
  margin-bottom: 1rem;
  height: 3rem;
}

.treeAmount {
  color: #2bca78;
  font-size: 4rem;
  margin-top: -1.5rem;
  font-weight: 600;
}

.countHolder {
  text-align: center;
}

.treeWord {
  color: #2bca78;
  margin-top: -1.75rem;
  font-size: 1.75rem;
}

.results {
  background-color: rgb(166, 255, 163);
  width: 16rem;
  height: 16rem;
  margin-left: 0.5rem;
  border-radius: 8.5rem;
  transition: width 500ms, height 500ms;
  margin-top: 1rem;
}

#electricity .results {
  background-color: rgb(255, 234, 141);
}

#electricity .treeWord {
  color: #caaa2b;
}

#electricity .treeAmount {
  color: #caaa2b;
}

#gas .results {
  background-color: #91d3ff;
}

#gas .treeWord {
  color: #3ca2e7;
}

#gas .treeAmount {
  color: #3ca2e7;
}

.treeDescription {
  padding: 0;
  margin-top: 3.5rem;
  font-size: 1.75rem;
}

#electricity .treeDescription {
  color: #caaa2b;
}

#gas .treeDescription {
  color: #3ca2e7;
}

a:hover{
  color: #3ca2e7;
}
/* 
.percentage {
  width: 15rem;
} */

.infoP {
  margin-top: 3rem;
  font-size: 1.25rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (max-width: 85rem) {
  .formDiv {
    width: 65rem;
  }
/* 
  .percentage {
    width: 10rem;
  } */
}

@media screen and (max-width: 75rem) {
  .formDiv {
    width: 55rem;
    height: 42rem;
  }

  input {
    width: 10rem;
    margin-left: 2rem;
  }

  select {
    width: 10rem;
  }

  .label {
    font-size: 1.4rem;
  }
/* 
  .percentage {
    width: 6rem;
  } */
  
  .results {
    width: 14.5rem;
    height: 14.5rem;
    margin-top: 1rem;
  }

  .treeDescription {
    margin-top: 3rem;
  }

  .resultGrid {
    width: 49rem;
  }
}

@media screen and (max-width: 65rem) {
  .formDiv {
    width: 45rem;
    height: 46rem;
  }

  input {
    width: 15rem;
    margin-left: 0;
    margin-right: 0;
  }

  select {
    margin-left: 0;
    width: 16rem;
  }

  .label {
    font-size: 1.4rem;
    text-align: center;
    margin-right: 3rem;
  }

  .percentage {
    width: 15rem;
  }
  
  .results {
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
  }

  .treeDescription {
    margin-top: 1.875rem;
    font-size: 1.5rem;
  }

  .treeWord {
    font-size: 1.5rem;
  }

  .resultGrid {
    width: 40rem;
  }
}

@media screen and (max-width: 55rem) {
  .formDiv {
    width: 35rem;
    height: 103rem;
  }

  .resultGrid {
    width: 35rem;
    grid-template-columns: auto;
  }

  .results {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
  }

  .treeDescription {
    font-size: 2rem;
    margin-top: 5.5rem;
  }

  .treeWord {
    font-size: 2rem;
  }

  #electricity {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #total {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 45rem) {
  .formDiv {
    width: 30rem;
    height: 103rem;
  }

  .titleHeader {
    font-size: 1.75rem;
  }

  .resultGrid {
    width: 30rem;
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 40rem) {
  .formDiv {
    width: 25rem;
    height: 98rem;
  }

  .titleHeader {
    width: 16rem;
    margin: auto;
  }

  .resultGrid {
    width: 25rem;
    grid-template-columns: auto;
  }

  .results {
    width: 17rem;
    height: 17rem;
  }

  .treeDescription {
    font-size: 2rem;
    margin-top: 4.25rem;
  }
}

@media screen and (max-width: 30rem) {
  .formDiv {
    width: 22.5rem;
  }

  .label {
    font-size: 1.25rem;
  }

  .resultGrid {
    width: 20rem;
    grid-template-columns: auto;
  }

  .results {
    width: 17rem;
    height: 17rem;
  }

  .treeDescription {
    font-size: 2rem;
    margin-top: 4.25rem;
  }
}

@media screen and (max-width: 25rem) {
  .formDiv {
    width: 20rem;
  }

  select {
    width: 13.5rem;
  }

  input {
    width: 12.5rem;
  }

  .percentage {
    width: 12.5rem
  }

  .label {
    font-size: 1.25rem;
  }

  .resultGrid {
    width: 20rem;
    grid-template-columns: auto;
  }

  .results {
    width: 15rem;
    height: 15rem;
  }

  .treeDescription {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

.resultHeader {
  font-weight: 600 !important;
} 

@media screen and (min-width: 65rem) {
  .resultHeader {
    margin-left: 0 !important;
  } 
}
